*{
	margin: 0%;
}
.navigation {
	background-color: white;
	padding: 2%;
	font-family: 'Poppins', sans-serif;
}
.navigation img{
	vertical-align: middle;
}
.Paytmlogo{
	margin: 0% 5% 0% 4%;
}
.navigation a{
	color: black;
	font-size: 14px;
	text-decoration: none;
	margin-left: 2%;
}
#SignIn{
	margin-left: 8%;
	background-color: #00baf2;
	color: white;
	padding: 0.5%;
	border-radius: 25px;
	text-align: center;
}
.smile{
	background-color: rgba(239, 239, 240, 0.8) ;
	padding: 10px;
	text-align: center;
	font-size: ;
	font-family: 'Poppins', sans-serif;
}
.sec2{
	display: flex;
	justify-content: space-between;
	padding: 5% 0% 0% 6% ;
}
.India{
	font-size: 50px;
}
.recharge{
	font-size: 20px;
	margin-bottom: 4%;
}
.download{
	border: 1px solid black;
	background-color: black;
	color: white;
	width: 48%;
	padding: 1.5% 1%;
	border-radius: 25px;
	text-align: center;
	justify-content: space-between;
}
.download:hover{
	background-color: white;
	color: black;
}
.sec3{
	background-color: #00baf2;
	color: white;
}
.bill{
	padding: 5% 0% 3% 0%;
	font-size: 40px;
}
.sec3div1{
	justify-content: space-between;
	border-radius: 20px;
	display: flex;
	padding-left: 3%;
    }
.sec3div1 a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}

/*.all{
	width: 70%;
}*/
.sec4{
	background-color: #002970;
	color: white;
}
.book{
	padding: 5% 0% 3% 0%;
	font-size: 40px;
	justify-content: space-between;
}
.sec4div1{
	border-radius: 10px;
	display: flex;
	font-size: 20px;
	margin-left: 15px;
	}
.sec4div1 a{
	color: white;
	text-decoration: none;
}
.sec5{
	background-color: #f5f9fe;
	font-size: 30px;
	padding-top: 35px;
	font-family: 'Poppins', sans-serif;
	padding: 5% 0% 20% 0%;
}
.wallet{
	display: flex;
	text-decoration: none;
    background-color: #fff;
    padding: 5% 0% 5% 10%;
    color: black;
    border-radius: 10px;
}
.fast{
	font-size: 35px;
	background-color: #fff;
	padding: 1% 0% 5% 10%;
}
.load{
	font-size: 15px;
	background-color: #fff;
	padding: 1% 0% 5% 10%;

}
